/*-------------------
      stylesheet 
 --------------------*/
 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

 /* common style or utilities */
 body{
      font-family: 'Poppins', sans-serif;  
 }
 .copa-america-banner{
display: flex;
background-color:#2D25A0 ;
width: 100%;
height: 695px;
 }
 .copa-america{
width: 50%;

 }
 .head-title-1{
       font-size: 64px;
       color: white;
       padding-left: 106px;
       line-height: 20px;
      padding-top: 207px;
 }
      
      .head-title-2{
            font-size: 64px;
            color: white;
            padding-left: 106px;
            line-height: 20px;
          
      }
            .head-title-3{
            font-size: 64px;
            color: white;
            padding-left: 106px;
            line-height: 20px;
          
      
 }
 .live-button{
       background-color:  #E02C6D;
       width: 168px;
       Height :44px;
       color:white;
       margin-left: 106px;
       padding:10px, 24px, 10px, 24px;

      
 }


 .banner{
width: 50%;

 }
 .banner img{
       width: 90%;
       margin-top: 153px;
 }
